@import url('https://fonts.googleapis.com/css?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap');
h1{
    color: black;
    text-align: center;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Kanit', sans-serif; 
    background-color: black;
    background-image: url("https://images.pexels.com/photos/2061169/pexels-photo-2061169.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
}

.keypad {
    margin-left: 2em;
    padding-top: 5em;
    padding-bottom: 3em;

}
.container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 97vh;
}
.text-danger{
    color:red
}
.text-success{
    color: greenyellow;
}
.box{
    width: 20em;
    padding: 3em;
    background-color: #fefefece;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}
.keys{
    font-family: 'Ubuntu Mono', monospace; 
    width: 5em;
    height: 5em;
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 10px rgb(87, 87, 87);
}
.keys:hover{
    background-color: #cacaca;

}
.pin{
    margin: 0;
    
    width: 4em;
}
