* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
body {
  background-color: #00dbde;
  background-image: -webkit-linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
  background-image: -moz-linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
  background-image: -o-linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
  background-image: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
}
header {
  font-family: "Arial Black", sans-serif;
  font-size: 3em;
  letter-spacing: -1px;
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 0%;
}

header,
form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}
form button {
  color: #1511ff;
  background: #f7fffe;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: #1511ff;
  color: white;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  width: 20em;
  background: white;
  font-size: 2rem;
  color: black;
  display: flex;
  transition: all 0.5s ease;
}
.filter-todo {
  padding: 1rem;
}
.todo li {
  flex: 1;
  height: 40vh;
}

.trash-btn,
.complete-btn {
  height: 3em;
  background: #fc24f1;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.complete-btn {
  background: rgb(21, 181, 255);
}
.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: #1511ff;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 12rem;
}

.select::after {
  content: "\25BC";
  color: #ffffff;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #1511ff;
  cursor: pointer;
  pointer-events: none;
}

.select:hover::after {
  background-color: #f7fffe;
  color: #1511ff;
}
